<div class="container">
  <div class="user-scroll">
    <div class="review-title">
      <h2>Edit <%= resource_name.to_s.humanize %></h2>
    </div>

    <div>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>

      <div class="form-inputs">
        <h2><label class="col-sm-4 col-form-label">Avatar:
        <% if current_user.avatar.present? %><br />Current: <%= current_user.avatar.filename.to_s %><% end %>
        </label></h2>
        <div class="col-sm-8"><%= f.file_field :avatar, class: "form-control" %></div>
      </div>
      <br>
        <h2><div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true, input_html: {class: "review-input-box"} %></h2>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>
          <h2><%= f.input :first_name,
                    required: false,
                    input_html: { autocomplete: "new-password", class: "review-input-box" } %></h2>
          <h2><%= f.input :last_name,
                    required: false,
                    input_html: { autocomplete: "new-password", class: "review-input-box" } %></h2>
          <h2><%= f.input :password,

                      required: false,
                      input_html: { autocomplete: "new-password", class: "review-input-box" } %></h2>
          <h2><%= f.input :password_confirmation,
                      required: false,
                      input_html: { autocomplete: "new-password", class: "review-input-box" } %></h2>
          <h2><%= f.input :current_password,

                      required: true,
                      input_html: { autocomplete: "current-password", class: "review-input-box" } %></h2>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Update", class: "btn-learn-more" %>
        </div>
      <% end %>
    </div>
    <div class="back-link ">
      <%= link_to "Back", :back %>
    </div>
  </div>
</div>
