<div class="banner">
  <div class="container pb-5">
    <div class="user-profile-div"></div>
      <% if current_user.avatar.present? %>
              <%= cl_image_tag current_user.avatar.key, class: "avatar-bordered-banner", alt: "avatar-bordered" %>
      <% else %>
        <%= image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzPb_pSj-ir-9eB6mi0lVJdQP1KKHiB8fRBS1CbmOXGd9Z1FEGMJHbEKhahwhWLGSaEXY&usqp=CAU", class: "avatar-bordered", alt: "avatar-bordered" %>
      <% end %>

      <h2><%= @user.first_name%> <%=@user.last_name %>
        <% if @user != current_user && Friendship.reacted?(@user.id, current_user.id) == false %>
            <%= link_to icon('fa-solid', 'user-plus'), friendships_create_path(ids: {id1: current_user.id, id2: @user.id}), class:"add-friend" %>
        <% end %>
      </h2>
      <div class="btn btn-learn-more edit-profile">
              <%= link_to "Edit profile", edit_user_registration_path %>
          </div>
    </div>

      <div class="mytabs">
        <input type="radio" name="mytabs" id="friends">
        <label for="friends"><h3>Friends</h3></label>
        <div class="tab">

        <% if @user == current_user %>
          <h3> Your friends: </h3>

          <%= form_tag user_path, method: :get, class: "d-flex" do %>
            <%= text_field_tag :query,
              params[:query],
              class: "form-control form-friend",
              placeholder: "Looking for someone ?"
            %>
            <%= submit_tag "Search", class: "btn btn-friend-search" %>
          <% end %>

        <% else %>
          <h3> <%= @user.first_name%>'s friends: </h3>
        <% end %>

        <% @user.friends.each do |friend| %>

         <%= render "shared/friends_card", friend: friend %>

        <% end %>

        <% if @user == current_user %>

          <h3 class="mt-4"> Your friend requests: </h3>

            <% @user.pending_friendships.each do |invitation| %>

              <%= render "shared/friend_request_card", friend: User.find(invitation.user_id), invitation: invitation %>

            <% end %>

        <% end %>


        </div>

        <input type="radio" name="mytabs" id="reviews" checked="checked">
        <label for="reviews"><h3>Reviews</h3></label>
        <div class="tab">
          <div style="width: 100%; height: 225px;"
            data-controller="map"
            data-map-markers-value="<%= @markers.to_json %>"
            data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>

          <% @reviews.each do |review| %>

              <%= render "shared/review_card", review: review %>

          <% end %>
        </div>

        <input type="radio" name="mytabs" id="wishlist">
        <label for="wishlist"><h3>Wishlist</h3></label>
        <div class="tab">
            <div class="user-restaurant">
              <%= render "shared/restaurant_main_card"%>
            </div>
        </div>

      </div>

  </div>
</div>

 <!-- <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete} %> -->
