<%= link_to user_path(friend), class:"friend-link" do %>
  <div class="notification">

    <div class="notification-content">
      <% if friend.avatar.present? %>
            <%= cl_image_tag friend.avatar.key, class: "avatar-bordered-banner", alt: "avatar-bordered" %>
      <% else %>
        <%= image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzPb_pSj-ir-9eB6mi0lVJdQP1KKHiB8fRBS1CbmOXGd9Z1FEGMJHbEKhahwhWLGSaEXY&usqp=CAU", class: "avatar-bordered", alt: "avatar-bordered" %>
      <% end %>
      <p><%= friend.first_name%> <%=friend.last_name %></p>
    </div>

    <div class="friend-action-icons">

    <% @friendship = Friendship.find(Friendship.find_invitation(@user.id, friend.id)) %>

      <% if @user == current_user %>
          <%= link_to icon('fa-solid', 'comment'), chatroom_path(@friendship.id), class: "me-3" %>
          <%= link_to icon('fa-solid', 'user-minus'),
          friendships_destroy_path(friendship_id: Friendship.find_invitation(@user.id, friend.id)) %>
      <% end %>
    </div>
  </div>

<% end %>
