<%= link_to user_path(friend), class:"friend-link" do %>
  <div class="notification">

    <div class="notification-content">
      <% if friend.avatar.present? %>
            <%= cl_image_tag friend.avatar.key, class: "avatar-bordered-banner", alt: "avatar-bordered" %>
      <% else %>
        <%= image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzPb_pSj-ir-9eB6mi0lVJdQP1KKHiB8fRBS1CbmOXGd9Z1FEGMJHbEKhahwhWLGSaEXY&usqp=CAU", class: "avatar-bordered", alt: "avatar-bordered" %>
      <% end %>
      <p><%= friend.first_name%> <%=friend.last_name %> </p>
    </div>

    <div class="friend-action-icons">
      <%= link_to icon('fa-solid', 'check'),
      friendships_update_path(friendship_id: invitation.id) %>
      <%= link_to icon('fa-solid', 'xmark'),
      friendships_destroy_path(friendship_id: invitation.id), class: "remove-friend" %>
    </div>

  </div>

<% end %>
