<%= link_to user_path(friend), class:"friend-link" do %>
  <div class="notification">

    <div class="notification-content">
      <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" />
      <p><%= friend.first_name%> <%=friend.last_name %> </p>
    </div>

    <div class="friend-action-icons">
      <%= link_to icon('fa-solid', 'check'),
      friendships_update_path(friendship_id: invitation.id) %>
      <%= link_to icon('fa-solid', 'xmark'),
      friendships_destroy_path(friendship_id: invitation.id), class: "remove-friend" %>
    </div>

  </div>

<% end %>
