<div class="container">
  <div class="modal fade" id="review-modal<%= review.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" >
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header" >
            <% if current_user.avatar.present? %>
              <%= cl_image_tag current_user.avatar.key, class: "avatar-large", alt: "avatar-bordered" %>
            <% else %>
              <%= image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzPb_pSj-ir-9eB6mi0lVJdQP1KKHiB8fRBS1CbmOXGd9Z1FEGMJHbEKhahwhWLGSaEXY&usqp=CAU", class: "avatar-large", alt: "avatar-bordered" %>
            <% end %>
          <h5 class="modal-title" id="exampleModalLongTitle"><%= review.user.first_name.capitalize %>'s review</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-backdrop="static" data-keyboard="false">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body">
          <h3><%= review.title%></h3>

          <div class="review-modal-content">
            <p><strong>Restaurant:</strong> <%= review.restaurant.name %></p>
          </div>

          <div class="review-modal-content">
            <p><%= review.content%></p>
          </div>

          <div class="review-modal-content">
            <p><strong>Rating:  </strong><%= Review::EMOJIS.key(review.emoji) %></p>
          </div>

          <div class="review-modal-content">
            <% if review.perfect_for.empty? == false %>
              <p><strong>Perfect for...</strong></p>
                    <% review.perfect_for.delete_at(0) %>
                    <% review.perfect_for.each do |category| %>
                    <div class="perfect-for-modal-list">
                      <%= category %>
                    </div>
                <% end %>
            <% end %>
          </div>

          <div class="review-modal-content">
            <% if review.photos.empty? == false %>
              <p><strong>Pics:</strong></p>

              <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-ride="carousel" data-interval="3000">
                <div class="carousel-inner">
                    <%review.photos.each_with_index do |pic,i|%>
                      <div class="carousel-item <%= "active " if i==0 %>">
                          <%= cl_image_tag  pic.key %>
                      </div>
                    <%end%>
                </div>
              </div>
            <% end %>
          </div>

        </div>

        <div class="modal-footer">
          <div class="btn btn-learn-more">
            <%= link_to "More about #{review.restaurant.name}", restaurant_path(review.restaurant)%>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
