<div class="review-card">
    <div class="review-card-info">
      <div>
        <h2><%= review.title %></h2>
        <p><%= review.content %></p>
        <p>Perfect for: <%= review.perfect_for %></p>
      </div>
      <div class="review-likes">
        <p>Likes: <%= review.likes %></p>
      </div>
      <div class="review-emoji">
        <p>Rating: <%= review.emoji %></p>
      </div>
    </div>
</div>
