<%= form_tag restaurants_path, method: :get, class:
          "d-flex" do%>
          <%= text_field_tag :query,
          params[:query],
          class: "form-control ", placeholder: "Find a restaurant" %>
          <%= submit_tag "Search", class:"btn border" %>
          <%# <%= submit_tag "Filter", class:"btn btn_filter" %>



<!-- Button trigger modal -->
<button type="button" class="btn btn_filter" data-toggle="modal" data-target="#exampleModalCenter">
  Filter
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Find a Restaurant</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
      <h3>Location</h3>
       <%= form_with url: restaurants_path, method: :get, class: "d-flex" do |form|%>
        <%=text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "where would you like to go?"%>

        <br>
      <h3>Cuisine</h3>
        <%= form.select :cuisine, collection: Restaurant::CUISINE, class: "form-control"%>
         <br>
         <br>
        <h3>Price</h3>

         <%= form.check_box :price %>
         <%= form.label :price, "£" %>
         <%= form.check_box :price%>
         <%= form.label :price, "££" %>
         <%= form.check_box :price%>
         <%= form.label :price, "£££" %>
        <br>
        <br>
       <h3>Perfect For ...</h3>

       <%= form.radio_button :perfect_for, "girls night" %>
       <%= form.label :perfect_for, "girls night" %>
       <%= form.radio_button :perfect_for,"girls night" %>
       <%= form.label :perfect_for, "lads night" %>
       <%= form.radio_button :perfect_for,"girls night" %>
       <%= form.label :perfect_for, "date night" %>
       <%= form.radio_button :perfect_for,"girls night" %>
       <%= form.label :perfect_for, "fancy dinner" %>
       <%= form.radio_button :perfect_for,"girls night" %>
       <%= form.label :perfect_for, "keep it casual" %>
       <%= form.radio_button :perfect_for,"girls night" %>
       <%= form.label :perfect_for, "Parents visit" %>
        <% end %>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Search</button>
      </div>
    </div>
  </div>
</div>

<% end %>





<div class="map-restaurant-index">
  <div style="width: 100%; height: 350px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>



<% @restaurants.each do |restaurant| %>
      <%= render "shared/restaurant_main_card", restaurant: restaurant %>
<% end %>
