<div class="search-heading d-flex ">
  <%= form_tag restaurants_path, method: :get, class:
            "d-flex" do%>
            <%= text_field_tag :query,
            params[:query],
            class: "form-control ", placeholder: "Find a restaurant" %>
            <%= submit_tag "Search", class:"btn border" %>
            <%# <%= submit_tag "Filter", class:"btn btn_filter" %>

  <% end %>

  <!-- Button trigger modal -->
  <button type="button" class="btn btn_filter" data-toggle="modal" data-target="#exampleModalCenter">
    Filter
  </button>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Find a Restaurant</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
      <h3>Location</h3>
       <%= form_tag  restaurants_path, method: :get do %>
        <%=text_field_tag :query1,
        params[:query1],
        class: "form-control",
        placeholder: "where would you like to go?"%>

        <br>
      <h3>Cuisine</h3>
        <%# <%= select_tag :cuisine, collection: Restaurant::CUISINE, class: "form-control"%>
        <%= select_tag 'cuisine', options_for_select(['American','Italian', 'Indian', 'Carribean', 'Mexican', 'Middle eastern', 'Turkish', 'Japanese', 'Spanish','Greek'])%>
         <br>
         <br>
        <h3>Price</h3>

         <%= check_box_tag :price %>
         <%= label_tag :price, "£" %>
         <%= check_box_tag :price%>
         <%= label_tag :price, "££" %>
         <%= check_box_tag :price%>
         <%= label_tag :price, "£££" %>
        <br>
        <br>
       <h3>Perfect For ...</h3>

       <%= radio_button_tag :perfect_for, "girls night" %>
       <%= label_tag :perfect_for, "girls night" %>
       <%= radio_button_tag :perfect_for,"lads night" %>
       <%= label_tag :perfect_for, "lads night" %>
       <%= radio_button_tag :perfect_for,"date night" %>
       <%= label_tag :perfect_for, "date night" %>
       <%= radio_button_tag :perfect_for,"fancy dinner" %>
       <%= label_tag :perfect_for, "fancy dinner" %>
       <%= radio_button_tag :perfect_for,"keep ti casual" %>
       <%= label_tag :perfect_for, "keep it casual" %>
       <%= radio_button_tag :perfect_for,"parents visit" %>
       <%= label_tag :perfect_for, "Parents visit" %>


      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%# <button type="button" class="btn btn-primary">Search</button> %>
         <%= submit_tag ("Search"), class:"btn btn-primary" %>
         <% end %>
      </div>
    </div>
  </div>
</div>







<div class="map-restaurant-index">
  <div style="width: 100%; height: 350px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>

<div class="container">
   <%# <% @restaurants.each do |restaurant| %>
        <%= render "shared/restaurant_main_card" %>
   <%# <% end %>
</div>
