<div class="container mt-3">
  <%= simple_form_for [@restaurant] do |f| %>
    <h2><%= f.input :name, input_html: {class: "review-input-box restaurant-modal-content" }, label: "Name?" %></h2>
    <h2><%= f.input :cuisine, input_html: {class: "review-input-box review-drop-down restaurant-modal-content" }, label: "Cuisine?", collection: @cuisines %></h2>
    <div class="submit-review">  <%= f.button :submit, class: 'btn submit-review-btn', value: "Add restaurant" %> </div>
  <% end %>


  <%= link_to "Back to your review", new_review_path, class:"btn btn-outline-dark" %>

</div>
