<div class="container mt-3">
  <%= simple_form_for [@restaurant] do |f| %>
    <h2><%= f.input :name, input_html: {class: "review-input-box" }, label: "What's it called?" %></h2>
    <h2><%= f.input :cuisine, input_html: {class: "review-input-box review-drop-down" }, label: "What's the cuisine?", collection: @cuisines %></h2>
    <div class="submit-review">  <%= f.button :submit, class: 'btn submit-review-btn', value: "Add restaurant" %> </div>
  <% end %>

  <div class="center-btn">
    <%= link_to "Back to your review", new_review_path, class:"btn new-restaurant-btn" %>
  </div>

</div>
