<div class="footer-padding">
  <div class="restaurant-header pt-3">

    <div class="name-and-review d-flex justify-content-between">
      <div class="name-and-cuisine">
        <h1><%= @restaurant.name %></h1>
        <p><%= @restaurant.cuisine %></p>
      </div>

      <%= link_to "Review it", new_review_path, class: "btn btn-outline-dark green-btn px-4" %>
    </div>

    <div class="restaurant-details d-flex justify-content-between">
      <div class="main-details">

        <p><%= @restaurant.address %></p>
        <p>Opening hours</p>
        <%= link_to "Website", @restaurant.website, class: "btn btn-outline-dark py-1 px-2 website-link" %>
      </div>

      <% if @restaurant.price == "£" %>
        <p class="price"><strong><%= @restaurant.price %></strong>££</p>
      <% elsif @restaurant.price == "££" %>
        <p class="price"><strong><%= @restaurant.price %></strong>£</p>
      <% else %>
        <p class="price"><strong><%= @restaurant.price %></strong></p>
      <% end %>

    </div>

  </div>

  <div class="container restaurant-map"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>


  <div class="container restaurant-reviews">

 <% @reviews.each do |review| %>
    <div class="show-review">
      <p class="review-intro"><strong><%= review.user.first_name %></strong> left a review... </p>
      <%= render "shared/review_card", review: review %>
    </div>
  <% end %>

  </div>


</div>
