<div class="container footer-padding">
  <div class="review-title">
    <h1>How was it?</h1>
  </div>
  <div id="review_form">
  <%= simple_form_for [@review] do |f| %>

    <h2><%= f.input :restaurant_id, input_html: {class: "review-input-box review-drop-down" }, label: "Where?", collection: @restaurants %></h2>
    <p>Can't see it on the list? Add a new place: <i class="fa-solid fa-plus ms-2 btn btn-outline-dark" data-toggle="modal" data-target="#new-restaurant-modal"></i><p>

    <%= render "shared/new_restaurant_modal" %>

    <h2><%= f.input :title, input_html: {class: "review-input-box"}, label: "The topline" %></h2>
    <h2><%= f.input :emoji, as: :radio_buttons, label: "Pick an emoji", collection_wrapper_tag: 'div',
        collection_wrapper_class: 'emoji-wrapper',
        item_wrapper_class: 'emoji-item',
        input_html: {class: 'emoji-selector'},
        class: 'with-font',
        collection: Review::EMOJIS %></h2>
    <h2><%= f.input :content, input_html: {class: "review-input-box"}, label: "Give it to us..." %></h2>

    <h2><%= f.input :perfect_for, as: :check_boxes, label: "Perfect for...", input_html: { class: "perfect-for-selector" },
                  item_wrapper_class: 'perfect-for-item', collection: Review::PERFECT_FOR %></h2>



    <div class="submit-review">  <%= f.button :submit, class: 'btn submit-review-btn', value: "Add review" %> </div>
    </div>
  <% end %>
  </div>


</div>
